{% block product_table_widget %}
    {% if products|length > 20 and carrier is not defined %}
        <div class="notice notice-warning">
            <p>
                <strong>Warning</strong> You are viewing too many products, ensure select only needed otherwise too many new products will be created in your shop.
            </p>
        </div>
    {% endif %}
    {% if products %}
        <div id="wireless-products-table-wrapper" style="max-height: 400px;overflow-y: auto">
            <table id="wireless-products-table" class="wp-list-table widefat fixed striped tags" style="width:100%">
                <thead>
                <tr>
                    <td id="cb" class="manage-column column-cb check-column">
                        <input name="products_all" value="1" id="cb-select-all-1" type="checkbox" {% if products|length == value|length %}checked{% endif %}>
                    </td>
                    <th scope="col" style="width: 40px">{{ 'ID'|trans }}</th>
                    <th scope="col">{{ 'Name'|trans }}</th>
                    <th scope="col" style="width: 50px">{{ 'Type'|trans }}</th>
                    <th scope="col" style="width: 80px">{{ 'Discount'|trans }}</th>
                    <th scope="col" style="width: 120px">{{ 'Price'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <th scope="row" class="check-column">
                            <input type="checkbox" name="{{ full_name }}[]" value="{{ product.id }}" id="{{ id }}_{{ product.id }}" {% if product.id in value %}checked{% endif %}>
                        </th>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</strong></td>
                        <td><strong>{{ product.type|upper }}</strong></td>
                        <td><strong>{{ product.discount_rate|number_format(2) }} %</strong></td>
                        <td>
                            <strong>
                                {% if product.variable_amount %}
                                    {{ product.min_amount|price|raw }} - {{ product.max_amount|price|raw }}
                                {% else %}
                                    {{ product.amount|price|raw }}
                                {% endif %}
                            </strong>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="notice notice-warning">
            <p>
               {{ ' This carrier does not have products to import.'|trans }}
            </p>
        </div>
    {% endif %}
{% endblock %}