{% if carriers %}
    <div id="wireless-carriers-table-wrapper" style="visibility: hidden">
        <table id="wireless-carriers-table" class="wp-list-table widefat fixed striped tags" style="width:100%;">
            <thead>
            <tr>
                <th scope="col" style="width: 30px">{{ 'ID'|trans }}</th>
                <th scope="col">{{ 'Name'|trans }}</th>
                <th scope="col" style="text-align: right">
                    <a id="carrier-select-" href="javascript: showProducts('');" class="button {% if request.isMethod('post') and not request.get('carrier_id') %}button-primary active{% endif %}">
                        {{ 'View All'|trans }}
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for carrier in carriers %}
                <tr>
                    <td>{{ carrier.id }}</td>
                    <td><strong id="carrier-name-{{ carrier.id }}">{{ carrier.name }}</strong></td>
                    <td style="text-align: right">
                        <a id="carrier-select-{{ carrier.id }}" href="javascript: showProducts('{{ carrier.id }}');" class="button {% if request.get('carrier_id') == carrier.id %}button-primary active{% endif %}">
                            {{ 'View'|trans }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

<script>
    jQuery(document).ready(function () {
        var table = jQuery('#wireless-carriers-table');
        table.DataTable({
            order: [[2, 'asc']]
        });
        //avoid a flicker when the table is loading
        jQuery('#wireless-carriers-table-wrapper').css('visibility', 'visible')
    });
    function showProducts($carrierId) {
        jQuery('#wireless-carriers-table').find('a.button').removeClass('button-primary active');
        jQuery('#carrier-select-' + $carrierId).addClass('button-primary active');
        jQuery('#col-right').show();
        jQuery('#wireless-products-loader').show();
        var productsWrapper = jQuery('#wireless-products-wrapper');
        productsWrapper.hide();
        productsWrapper.html('');
        productsWrapper.load('/wp-admin/admin-ajax.php?action=get_wireless_products&carrier_id=' + $carrierId, function () {
            jQuery('#wireless-products-loader').hide();
            productsWrapper.show(500);
        });
    }
</script>
<?php endif; ?>